.footer {
  background-color: #0a2850;
  position: relative;
  overflow: hidden;
}
.footer__content {
  padding: 60px 80px 0;
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  z-index: 1;
  width: 105px;
  height: 39px;
}
.footer__circle {
  position: absolute;
  border-radius: 50%;
  background-color: #2f80ed;
  width: 340px;
  height: 340px;
  top: -128px;
  left: -44px;
}
.footer__social {
  color: #ffffff;
}
.footer__social-heading {
  font-family: "Inter";
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0 0 20px 40px;
}
.footer__list {
  margin: 0;
}
.footer__list-item {
  font-family: "Inter";
  font-size: 16px;
  line-height: 20px;
  list-style-type: none;
  margin: 0;
  padding-bottom: 16px;
}
.footer__social-link {
  color: #ffffff;
}
.footer__social-link:hover {
  color: #c1c1c1;
}
.footer__social-icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}
.footer__copyright {
  font-family: "Inter";
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 108px 0 60px 80px;
  margin: 0;
}
